.navigator, .sidebar, .footer{

	border-radius: 20px;
}

.content {
	margin-top: 50px;
}

iframe {
	width: 98%;
	height: 100vh;
	border-style: none;
}

body {

	font-family: helvetica, arial;
	text-align: center;
	/* background-image: url("bg.jpg"); */
	background-attachment: fixed;
	font-size: 14px;
	color: white;
	border-color: gray;
	text-shadow: 0px 1px 5px black;
	border-radius: 20px;
	font-weight: lighter;
}

#profile {
	width: 150px;
	margin-top: 10%;
	border-radius:75px;
	border-style: solid;
	border-color: #3396FF;
	border-width: 3px;
}

#name {
	font-size: 14px;
	color: black;
	border-color: gray;
	text-shadow: 0px 0px 4px gray;
	display: block;
	padding-top: 10px;

	
}

#mail{
	display: block;
	padding-top: 10px;
	color: black;
	text-shadow: 0px 0px 4px gray;

}

#github {
	display: block;
	padding-top: 10px;
	color: black;
	text-shadow: 0px 0px 3px gray;

}
#aboutMe{
	padding-top: 30px;
}

.header, .footer {
	text-align: center;
}

.header {
	font-size: 46px;
}

.footer {
	font-size: 10px;
}

.navigator {
	font-size: 14px;
	color: black;
	font-weight: lighter;
	/* text-shadow: 2px 2px 3px black; */


}




a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

.sidebar {
	font-size: 14px;
	display: inline;

}

* {
	margin: 1%;
}

.header, .footer {
	padding: 20px 0px;
}

.navigator, .sidebar{
	width: 25% auto;
	height: 100vh;
	max-width: 200px;
	display: inline;
	/* background-color: rgba(0, 0, 0, .5); */
	overflow: auto;
	min-width: 200px;
	background-color: rgba(200, 200, 200, .75);
	margin-top: 50px;

}

.navigator, .content, .sidebar{
	float: left;
}


.content {
	width: 62%;
	height: 600px;
	min-width: 300px;
	background-color: rgba(256, 256, 256, .75);
	border-radius: 20px;
	display: inline;
}

.footer {
	clear: both;
}

#sectionHeader {
	font-size: 32px; 


	height: 48px;

}

.exercises{
	background-color: rgba(256, 256, 256, .9);
	border-radius: 10px;
	font-size: 18px;
	display: block;
	height: 22px;
	font-weight: lighter;
	font-style: 0 0 0 0 ;
	color: #3396FF;
	text-shadow: 0px 0px 0px;
}

#sectionArticle {
	padding-top: 22px;

	border-radius: 20px;
}

.links {
	font-size: 14px;
	display: block;
	margin-top: 5px;
	margin-bottom: 5px;
	text-shadow: 0px 0px 4px gray;
}

#profTitle{
	background-color: rgba(256, 256, 256, .9);
	border-radius: 10px;
	font-size: 18px;
	display: block;
	height: 22px;
	font-weight: lighter;
	font-style: 0 0 0 0 ;
	color: #3396FF;
	text-shadow: 0px 0px 0px;
	font-size: 18px;
	display: block;
	height: 22px;
	font-weight: lighter;
	font-style: 0 0 0 0 ;
	color: #3396FF;
	text-shadow: 0px 0px 0px;
	margin-top: 20px;
}


.header {
	position: fixed;
	width: 105%;
	background-color: rgba(18, 18, 18, .9);
	margin-left: -27px;
	margin-top: -30px;
	height: 15px;
	font-weight: lighter;
	color: white;
	text-shadow: 0px 0px 3px gray;
	font-size: 20px;
	border-style: solid;
	border-width: 1px;
	border-color: black;

}

