<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="style/style.css">

<title> Movies </title>
</head>
<body ng-App="myApp" ng-controller="MainController">
	<header>
		<p class="txtHeader" ng-click="showActionArea()">+Add movie</p>
	</header>

		<section id="content">
	   	
		   	<div class="showtime">
		   		<img class="inImage"  ng-src="{{ imagePath }}">
		   		<p class="inTitle"> {{ inTitle }} </p>
		   		<p class="inYear"> {{inYear}} </p>
		   		<p class="inDescription"> {{inDescription}} </p>
		   	</div>

	   	<section id="addMovie" class="actionArea" style="display: hidden;">
		<p>Add movies</p>
		<form>
			<label class="formTxt">Title</label><br>
			<input type="text" class="formTxt" ng-model="title"><br>
			<label class="formTxt">Year</label><br>
			<input type="number" min="1900" max="2016" class="formTxt" ng-model="year"><br>
			<label class="formTxt">Description</label><br>
			<input type="text" class="formTxt" ng-model="description"><br>
			<label class="formTxt">Image Path</label><br>
			<input type="text" class="formTxt" ng-model="imgPath"><br><br>
			<button type="submit" value="Add movie" ng-click="addMovie()" class="modDel" id="btnAdd">Add movie<br>
		</form>
		
	</section>


	   		<div class="modPhotoContainer">
				<img class="inImage"  ng-src="{{ modImgPath }}">
		   		<form class="modForm" id="hiddenForm">
			   		<div style="background-color: rgba(0, 0, 0, .7); margin-top:0px; height: 390px"></div>
				   		<p>Modify here:</p>
				   		<label>Title</label><br>
				   		<input type="text" class="formTxt" ng-model="modTitle"><br>
						<label class="formTxt">Year</label><br>
						<input type="text" class="formTxt" ng-model="modYear"><br>
						<label class="formTxt">Description</label><br>
						<input type="text" class="formTxt" ng-model="modDescription"><br>
						<label class="formTxt">Image Path</label><br>
						<input type="text" class="formTxt" ng-model="modImgPath"><br><br>
						<input type="submit" value="Modify" ng-click="saveChanges()" class="modDel" id="btnMod"><br>
					
				</form> 
			</div>
	   	
	   	</section>



	<section class="panel">

	        <article ng-repeat="movies in movies" id="movieCatalog"> 
	        	<div class="photoContainer">
	        		<img ng-src="{{ movies.imgPath }}" id="$index" class="imgCatalog" ng-click="showMovies($index)">
	        	</div>
	        	<a class="title" id="$index" ng-click="showMovies($index)"> {{ movies.title }} </a>
				<button class="modDel" id="deleteBtn" type="button" ng-click="deleteMovie($index)">Eliminar</button>
				<button class="modDel" id="modifyBtn" type="button" ng-click="modMovies($index)">Modificar</button>
				 
	        </article>
	</section>
</body>
</html>


	<script src="angular/angular.min.js"></script>
	<script src="ang-main.js"></script>	






