body{
	background-color: aquamarine;
	text-align: center;
}

* {

	/*width: 300px;*/
	resize: none;
	font-size: 14px;
	font-family: helvetica, arial;
	margin-top: 10px;

}

#display {
	height: 50px;
}

form {
	width: 30%;
	display: block;
	margin: 1% auto; 
	padding: 3px;
	border-style: solid;
	border-color: #6FEFC4
}

.elem {
	width: 300px;
}

#button {
	width: 100px;
}
